* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {  
  height: 100vh;
  width: 100vw;
}

#keyboard {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 150px;
  height: 100px;
}